*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

hr{
    padding: 0;
    border: none;
    border-top: thick double #333;
    color: #333;
}

.main-header {
  background-color: #2d3945;
  text-align: center;
  padding: 25px 0;
  margin-bottom:50px;
}

.sign-up {
  text-align: center;

  margin: 0 auto 30px;
  max-width: 90%;

}

.sign-up p {
  padding-bottom:20px;
  color:grey;
}

form legend {
  font-weight: 700;
  padding-bottom:15px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  text-align:right;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  text-align:right;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  text-align:right;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  text-align:right;
}

input:focus { 
  font-size: 4em;
    background-color: yellow;
}

h1 {
  color:white;
  font-size: 2em;
  /* margin: 0 0 30px 0; */
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: #2d3945;
}

body {
  font-family: 'Merriweather', serif;
  color: #384047;
}

form {
  margin: 10px auto;
  padding: 0px 0px;
  /* background: #f4f7f8; */
  border-radius: 8px;
  max-width: 90%;
}



input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  padding:0;
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  color:grey;
  padding-bottom:5px;
}

label.light {
  font-weight: 300;
  display: inline;
}

/* .number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
*/

@media screen and (min-width: 480px) {

 

}






@media screen and (min-width: 769px) {
  
  }


@media screen and (min-width: 1025px) {

  }
